*.iml
target
/.idea/

/.idea/checkstyleidea-libs/

/.idea/shelf/

/.idea/.gitignore

/.idea/checkstyle-idea.xml

/.idea/compiler.xml

/.idea/dbnavigator.xml

/.idea/jarRepositories.xml

/.idea/job4j_grabber.iml

/.idea/misc.xml

/.idea/runConfigurations.xml

/.idea/uiDesigner.xml

/.idea/vcs.xml

/.idea/workspace.xml
